:host {
    width: 100% !important;
    th {
        padding-top: 5px !important;
    }
     ::ng-deep .mat-form-field-flex {
        min-height: 0 !important;
        max-width: 150px !important;
        height: 30px;
    }
    input {
        color: black !important;
    }
    .filter-box {
         ::ng-deep .mat-select .mat-select-trigger {
            bottom: 9px !important;
        }
        ::ng-deep .mat-form-field-outline {
            border-radius: 6px !important;
            background: white !important;
        }
        
    }
}