:host {
    // .bg-color {
    //     background-color: #f1f5f9 !important;
    // }

    .total-customers-color {
        color: #4482f6 !important;
    }

    .total-merchants-color {
        color: #ee9e1e !important;
    }

    .total-contracts {
        color: #5fc65f !important;
    }
}
