:host {

    form {
        text-align: center !important;
    }

    ng-otp-input {
        ::ng-deep .wrapper{
            input {
                margin: 2px !important;
            }
        }
      
    }

    .stepper-btn {
        border-radius: 7px;
        height: 35px;
        min-height: 0;
        border: 2px solid #ccc;
    }

    hr {
        width: 100%;
    }

    th {
        text-align: start !important;
        height: 45px;
    }

    .active-hr {
        border-color: #00C7B6 !important;
    }

    .active-btn {
        border-color: #00C7B6 !important;
    }

    .attachment {
        background: #2e5ea8;
        height: 48px;
        color: white;
        border-radius: 6px;
    }

    .discount-btn {
        ::ng-deep .mat-form-field-flex {
            min-height: 0 !important;
            height: 30px !important;
        }
    }

    .vertical-line {
        border-left: 2px solid #ccc;
        position: relative;
        height: 60px;
    }

    .animate-spin-veryslow {
        animation: spin 9s linear infinite !important
    }
}
