<div class="flex flex-col flex-auto gap-4">
    <div *ngIf="!categoryObject"
        class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color">
        <mat-icon class="highlight-text-color" svgIcon="mat_outline:add"></mat-icon>
        <span>{{'Create Business Category' | translate}}</span>
    </div>
    <div *ngIf="categoryObject"
        class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color">
        <mat-icon class="highlight-text-color" svgIcon="mat_outline:edit"></mat-icon>
        <span>{{'Edit Business Category' | translate}}</span>
    </div>
    <hr class="border-b m-0 border-color">
    <form class="flex flex-col flex-auto gap-4" [formGroup]="form">
        <div class="flex flex-col md:flex-row flex-auto gap-2">
            <div class="flex flex-auto flex-row">
                <mat-form-field class="flex-auto">
                    <mat-label class="text-capitalized">
                        {{'Name (en)'| translate}}
                    </mat-label>
                    <input formControlName="name_en" matInput name="title">
                </mat-form-field>
            </div>
            <div class="flex flex-auto flex-row">
                <mat-form-field class="flex-auto">
                    <mat-label class="text-capitalized">
                        {{'Name (ar)'| translate}}
                    </mat-label>
                    <input formControlName="name_ar" matInput name="title">
                </mat-form-field>
            </div>

        </div>
        <div class="flex flex-row flex-auto gap-2 justify-end items-center">
            <button (click)="close()" mat-stroked-button color="warn">
                <mat-icon class="save-cancel-btn" matPrefix>close</mat-icon> {{'Close' | translate}}
            </button>
            <button (click)="send()" type="submit" mat-flat-button class="primary-bg-color">
                <mat-icon class="mx-1" svgIcon="mat_outline:save"></mat-icon>
                {{'Submit' | translate}}
            </button>
        </div>
    </form>
</div>
