<div class="flex flex-row flex-auto page custom-width" [formGroup]="form">
    <div class="flex flex-col flex-auto custom-width gap-y-2">
        <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
        <div class="flex flex-col flex-initial bg-card shadow rounded-t-2xl ">
            <div
                class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color p-4 pl-6">
                <mat-icon class="cursor-pointer highlight-text-color" (click)="goBack()"
                    [svgIcon]="translationService.getDirection() =='ltr' ? 'mat_outline:arrow_back' : 'mat_outline:arrow_forward' ">
                </mat-icon>
                <span *ngIf="!id">{{'Create Contract' | translate}}</span>
                <span *ngIf="id">{{'Edit Contract' | translate}}</span>

            </div>
            <hr class="border-b m-0 border-color">
            <!-- <div class="flex flex-row flex-initial p-4 justify-end">
                <button class="mat-focus-indicator fuse-mat-button-large primary-bg-color mat-flat-button mat-button-base"
                    mat-flat-button (click)="save()">
                    {{'Save' | translate}}
                </button>
            </div> -->
        </div>
        <div *ngIf="!isSuccess" class="flex flex-col flex-auto bg-card shadow rounded-b-2xl p-4 gap-2" @slideInLeft>
            <div class="flex flex-col flex-initial bg-card shadow">
                <div class="flex sm:flex-row flex-col px-4 py-6 gap-x-4">
                    <div class="flex-auto grid grid-cols-1 md:grid-cols-4 gap-6 items-center">
                        <!-- Won't fix -->
                        <div class="col-span-2 sm:col-span-1 gap-y-1 flex flex-col px-1">
                            <div class="flex flex-row gap-1 items-center">
                                <div class="flex flex-auto flex-row">
                                    <mat-form-field class="w-full">
                                        <mat-label class="text-capitalized">
                                            {{'Customer Contact Number'| translate}}
                                            <span class="required-field">*</span>
                                        </mat-label>
                                        <input type="number" formControlName="contact_no" matInput name="title">
                                        <mat-error *ngIf="form.get('contact_no').hasError('required')">
                                            {{'Customer contact number is required' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <button [disabled]="isLoading" (click)="searchCustomer()"
                                    [ngClass]="(form.get('contact_no').hasError('required') && form.get('contact_no').touched) ? 'search-button' : ''"
                                    class="mat-focus-indicator border-gray-300 mt-2 border-solid rounded-lg min-h-12  mat-flat-button mat-button-base"
                                    mat-flat-button>
                                    <mat-icon *ngIf="!isLoading" svgIcon="mat_outline:person_search"></mat-icon>
                                    <mat-icon *ngIf="isLoading" svgIcon="mat_outline:refresh"></mat-icon>
                                </button>
                            </div>

                        </div>
                        <div class="col-span-2 sm:col-span-1 gap-y-1 flex flex-col px-1 md:items-center"
                            *ngIf="customerDetails">
                            <div class="text-md  leading-none label-color">{{'Name' | translate}}</div>
                            <div class="text-lg  leading-none">{{customerDetails?.name}}</div>
                        </div>
                        <div class="col-span-2 sm:col-span-1 gap-y-1 flex flex-col px-1 md:items-center"
                            *ngIf="customerDetails">
                            <div class="text-md  leading-none label-color">{{'Email' | translate}}</div>
                            <div class="text-lg  leading-none">{{customerDetails?.email}}</div>
                        </div>
                        <div class="col-span-2 sm:col-span-1 gap-y-1 flex flex-col px-1 md:items-center"
                            *ngIf="customerDetails">
                            <div class="text-md  leading-none label-color">{{'Mobile Number' | translate}}</div>
                            <div class="text-lg  leading-none">{{customerDetails?.contact_no}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-initial bg-card shadow ">
                <div class="flex flex-row flex-auto justify-between">
                    <div
                        class="text-lg flex flex-row flex-initial gap-x-2 items-center tracking-tight highlight-text-color p-4 pl-6">
                        <span>{{'Items' | translate}}</span>
                    </div>
                    <div class="p-4">
                        <app-common-add-button [disabled]="limitExceed"
                            [bgColor]="limitExceed ? 'disabled-bg-color' : ''" (addBtnClick)="addBtnClick()">
                        </app-common-add-button>
                    </div>

                </div>
                <hr class="border-b m-0 border-color" [ngClass]="limitExceed ? 'disabled-border-color' : ''">
                <div class="flex flex-col flex-initial p-4 gap-4" style="overflow: auto !important;">
                    <table>
                        <tr>
                            <th>
                                {{' Item Name' | translate}}
                            </th>
                            <th>
                                {{'Description' | translate}}
                            </th>
                            <th>
                                {{'Quantity' | translate}}
                            </th>
                            <th>
                                {{'Unit Price' | translate}}
                            </th>
                            <th>
                                {{'Total Price' | translate}}
                            </th>
                            <th>
                                {{'Actions' | translate}}
                            </th>
                        </tr>
                        <tr formArrayName="items"
                            *ngFor="let itemsFormGroup of form.get('items')['controls'];let i = index"
                            [formGroup]="itemsFormGroup">
                            <td>
                                <mat-form-field class="flex-auto gt-xs:pr-3" style="width: 100%;">
                                    <input matInput [formControl]="itemsFormGroup.get('product_name')">
                                    <mat-error *ngIf="itemsFormGroup.get('product_name').hasError('required')">
                                        {{'Product Name is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="flex-auto gt-xs:pr-3" style="width: 100%;">
                                    <input matInput [formControl]="itemsFormGroup.get('description')">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="flex-auto gt-xs:pr-3" style="width: 100%;">
                                    <input (input)="calculateTotalPrice(i)" matInput type="number"
                                        [formControl]="itemsFormGroup.get('quantity')">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="flex-auto gt-xs:pr-3" style="width: 100%;">
                                    <input (input)="calculateTotalPrice(i)" matInput type="number"
                                        [formControl]="itemsFormGroup.get('unit_price')">
                                    <span matSuffix>KWD</span>
                                    <mat-error *ngIf="itemsFormGroup.get('unit_price').hasError('required')">
                                        {{'Unit Price is required' | translate}}
                                    </mat-error>

                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="flex-auto gt-xs:pr-3 disabled" style="width: 100%;">
                                    <input step="any" matInput type="number"
                                        [formControl]="itemsFormGroup.get('price') ">
                                    <span matSuffix>KWD</span>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-icon (click)="deleteItem(i)" class="mx-4 mb-4 danger-text-color cursor-pointer"
                                    svgIcon="mat_outline:delete">
                                </mat-icon>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="flex flex-col md:flex-row flex-initial  gap-2">
                <div class="flex flex-col flex-auto bg-card shadow md:w-1/2">
                    <div class="flex  flex-col px-4 py-6 gap-4">
                        <div class="flex-auto">
                            <mat-form-field class="flex-auto gt-xs:pr-3" style="width: 100%;">
                                <mat-label>{{'Notes' | translate}}</mat-label>
                                <textarea formControlName="notes" matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                        <!-- <div class="flex-auto">
                            <mat-form-field [ngClass]="isReferenceError() ? 'error-feild':''" class="flex-auto gt-xs:pr-3" style="width: 100%;">
                                <mat-label>
                                    {{'Reference Number' | translate}}
                                    <span class="required-field">*</span></mat-label>
                                <input matInput formControlName="reference">
                                <mat-error *ngIf="form.get('reference').hasError('required')">
                                    {{'Reference Number required' | translate}}
                                </mat-error>
                                <mat-spinner *ngIf="isLoadingRef" [diameter]="20" matSuffix></mat-spinner>
                            </mat-form-field>
                            <small *ngIf="isReferenceError()" class="danger-text-color" style="position: relative;top: -14px;">
                                {{'Reference Number is already exist,please re-enter another one' | translate}}
                            </small>
                        </div> -->
                        <div (click)="fileInput.click()"
                            class="flex  flex-row flex-auto justify-between items-center attachment px-4 cursor-pointer">
                            <input hidden type="file" #fileInput (change)="uploadFile($event.target.files,'front')">
                            <span>{{'Upload Files'}}</span>
                            <mat-icon class="text-white" svgIcon="mat_solid:file_upload"></mat-icon>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto bg-card shadow md:w-1/2 ">
                    <div class="flex  flex-col px-4 py-6 gap-4">
                        <div class="flex flex-row flex-auto justify-between items-center">
                            <div class="text-md  leading-none label-color flex flex-row gap-1 items-center"
                                style="margin-top: -15px;">
                                <span class="text-md  leading-none label-color">{{'Discount' | translate}}</span>
                                <!-- <mat-slide-toggle >{{discount.value ? '%' : 'Flat'}}</mat-slide-toggle> -->

                            </div>
                            <div class="text-lg  leading-none ">
                                <mat-form-field class="flex-auto gt-xs:pr-3 discount-btn">
                                    <input (input)="calculateSubTotal()" matInput formControlName="discount">
                                    <span matSuffix>%</span>
                                </mat-form-field>
                            </div>
                        </div>
                        <div
                            class="text-lg flex flex-row flex-initial gap-x-2 items-center tracking-tight highlight-text-color">
                            <span>{{'Payment Details' | translate}}</span>
                        </div>
                        <div class="flex flex-row flex-auto justify-between">
                            <div class="text-md  leading-none label-color">{{'Sub Total' | translate}}</div>
                            <div class="text-lg  leading-none flex flex-row flex-initial gap-2">
                                {{form.get('sub_total').value | number : '1.3-3'}}
                                <strong>KWD</strong>
                            </div>
                        </div>
                        <div class="flex flex-row flex-auto justify-between items-center">
                            <div class="text-md  leading-none label-color">{{'Discount' | translate}}</div>
                            <div class="text-lg  leading-none flex flex-row flex-initial gap-2">
                                {{form.get('discount').value}}
                                <strong>%</strong>
                            </div>
                        </div>
                        <div class="flex flex-row flex-auto justify-between">
                            <div class="text-lg  leading-none label-color">{{'Total' | translate}}</div>
                            <div class="text-lg  leading-none flex flex-row flex-initial gap-2"
                                [ngClass]="limitExceed ? 'danger-text-color' : ''">
                                {{form.get('total').value | number : '1.3-3'}}
                                <strong>KWD</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-initial bg-card shadow ">
                <div class="flex flex-row flex-auto justify-between">
                    <div
                        class="text-lg flex flex-row flex-initial gap-x-2 items-center tracking-tight highlight-text-color p-4 pl-6">
                        <span>{{'Documents' | translate}}</span>
                    </div>
                </div>
                <hr class="border-b m-0 border-color">
                <div class="flex flex-col flex-initial p-4 gap-x-4">
                    <div class="flex-row flex flex-auto gap-6 flex-wrap">
                        <div class="flex flex-initial flex-col gap-1 items-center"
                            *ngFor="let file of files;let i =index">
                            <mat-icon style="align-self: flex-end;" (click)="removeAttachment(i)"
                                class="danger-text-color cursor-pointer" svgIcon="mat_outline:close"></mat-icon>
                            <img class="cursor-pointer" style="height: 50px !important;width: 50px !important;"
                                src="../../../../assets/images/attach.png">
                            <strong>{{'Attachment - ' | translate}}{{i+1}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row flex-initial p-4 px-0 justify-end">
                <button [ngClass]="limitExceed ? 'disabled-bg-color' : ''" [disabled]="limitExceed"
                    class="mat-focus-indicator rounded-lg min-h-0 h-9 fuse-mat-button-large primary-bg-color mat-flat-button mat-button-base"
                    mat-flat-button (click)="saveNext()">
                    {{ id ? ('Update Contract' | translate) : ('Create Contract' | translate)}}
                </button>
            </div>
        </div>
        <!-- *ngIf="isSuccess" -->
        <div class="flex flex-col flex-auto bg-card shadow rounded-b-2xl p-4 gap-2" @slideInLeft *ngIf="isSuccess">
            <div
                class="flex flex-col flex-initial bg-card shadow rounded-b-2xl items-center gap-4 p-4 h-full justify-center">
                <div class="flex flex-col flex-initial items-center gap-4 justify-center">
                    <div class="font-bold highlight-text-color text-3xl">{{'Success!' | translate}}</div>
                    <img src="../../../../assets/images/hour-glass.svg" class="h-40 animate-spin-veryslow">
                    <div class="text-md leading-none highlight-text-color">{{'Contract ' | translate}}
                        {{!id ? ('created' | translate) : ('updated' | translate)}} {{'successfully' | translate}}</div>
                    <div class="text-xl  leading-none highlight-text-color">{{'Waiting for verification' | translate}}</div>
                    <button (click)="backToContract()"
                        class="mat-focus-indicator  rounded-lg min-h-0 h-9 fuse-mat-button-large primary-bg-color mat-flat-button mat-button-base"
                        mat-flat-button>
                        {{'Back to contracts' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
