:host {

    .uploadfilecontainer {
        background-image: url("../../../../assets/images/cloud-2044823_960_720.png");
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
        height: 200px;
        width: 100%;
        border: 2px dashed #1C8ADB;
        border-radius: 10px;
    }

    .error-feild {
        ::ng-deep .mat-form-field-flex {
            border-color: red !important;
        }
    }

    .imagefilecontainer {
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
        height: 200px;
        width: 100%;
        border: 2px dashed #1C8ADB;
        border-radius: 10px;
    }

    .uploadfilecontainer:hover {
        cursor: pointer;
        background-color: #9ecbec !important;
        opacity: 0.8;
    }

    .files-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px auto;
        background: #ffffff;
        border: 1px dashed;
        border-radius: 12px;
        padding: 10px;
        color: #1c8adb;
        align-items: center;
    }

    .files-list .delete-file {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .files-list .delete-file img {
        width: 30px;
    }

    .file-icon {
        color: #1c8adb;
    }

    img {
        margin: 10px auto;
        width: 130px;
    }

    .close-icon {
        position: absolute;
        right: 50px;
        color: red !important;
    }
}
