<div class="flex flex-col flex-auto page" @slideInLeft>
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="flex flex-col flex-initial bg-card shadow rounded-2xl " [formGroup]="form">
        <div
            class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color p-4 pl-6">
            <mat-icon class="cursor-pointer highlight-text-color" (click)="goBack()"
                [svgIcon]="translationService.getDirection() =='ltr' ? 'mat_outline:arrow_back' : 'mat_outline:arrow_forward' ">
            </mat-icon>
            <span *ngIf="!id">{{'Create New Customer' | translate}}</span>
            <span *ngIf="id">{{'Edit Customer' | translate}}</span>

        </div>
        <hr class="border-b m-0 border-color">
        <div class="flex sm:flex-row flex-col p-4 gap-4">
            <div class="flex flex-col gap-y-4" style="flex: 0 0 70%;">
                <div class="flex flex-col bg-card shadow p-4">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Basic Info' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col">
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'First Name' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input formControlName="first_name" matInput>
                                    <mat-error *ngIf="form.get('first_name').hasError('required')">
                                        {{'First Name is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Won't fix -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Middle Name' | translate}}</mat-label>
                                    <input matInput formControlName="middle_name">
                                </mat-form-field>
                            </div>
                            <!-- Re-opened -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Last Name' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input formControlName="last_name" matInput>
                                    <mat-error *ngIf="form.get('last_name').hasError('required')">
                                        {{'Last Name is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Needs triage -->
                        </div>
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field [ngClass]="isEmailError() ? 'error-feild':''"
                                    class="example-full-width">
                                    <mat-label>{{'Email' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input formControlName="email" matInput>
                                    <mat-error *ngIf="form.get('email').hasError('required')">
                                        {{'Email address is required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('email').hasError('email')">
                                        {{'Please enter a valid email address' | translate}}
                                    </mat-error>
                                    <mat-spinner *ngIf="isLoadingEmail" [diameter]="20" matSuffix></mat-spinner>
                                </mat-form-field>
                                <small class="danger-text-color" style="position: relative;top: -14px;"
                                    *ngIf="isEmailError()">
                                    {{'Email is already exist,please re-enter another one' | translate}}
                                </small>
                            </div>
                            <!-- Won't fix -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <mat-form-field [ngClass]="isErrorContact() ? 'error-feild':''"
                                    class="example-full-width">
                                    <mat-label>{{'Mobile' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input minlength="8" maxlength="8" matInput formControlName="contact_no">
                                    <mat-error *ngIf="form.get('contact_no').hasError('required')">
                                        {{'Mobile Number is required' | translate}}
                                    </mat-error>

                                    <mat-error *ngIf="form.get('contact_no').hasError('minlength')">
                                        {{'Mobile number should be 8 digit' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('contact_no').hasError('pattern')">
                                        {{'Mobile number is not valid ' | translate}}
                                    </mat-error>
                                    <mat-spinner *ngIf="isLoadingContact" [diameter]="20" matSuffix></mat-spinner>
                                </mat-form-field>
                                <small *ngIf="isErrorContact()" class="danger-text-color"
                                    style="position: relative;top: -14px;">
                                    {{'Mobile Number is already exist,please re-enter another one' | translate}}
                                </small>
                            </div>
                            <!-- Re-opened -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <mat-form-field>
                                    <mat-label>{{'DOB' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input [max]="today" formControlName="dob" matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="form.get('dob').hasError('required')">
                                        {{'Date of Birth is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Needs triage -->
                        </div>
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field appearance="fill">
                                    <mat-label>{{'Gender' | translate}}</mat-label>
                                    <mat-select formControlName="gender">
                                        <mat-option [value]="1">
                                            {{'Male' | translate}}
                                        </mat-option>
                                        <mat-option [value]="2">
                                            {{'Female' | translate}}
                                        </mat-option>
                                        <mat-option [value]="3">
                                            {{'Other' | translate}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <!-- <mat-form-field class="example-full-width">
                                    <mat-label>{{'Nationality' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <mat-select formControlName="nationality_id">
                                        <mat-option [value]="country?.id" *ngFor="let country of countryList">
                                            {{country?.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.get('nationality_id').hasError('required')">
                                        {{'Nationality is required' | translate}}
                                    </mat-error>
                                </mat-form-field> -->
                                <mat-form-field>
                                    <mat-label>{{'Nationality' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <mat-select formControlName="nationality_id" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search noEntriesFoundLabel="'No matching nationlity found'"
                                                placeholderLabel="Search Nationality"
                                                [formControl]="nationalityControl">
                                            </ngx-mat-select-search>
                                        </mat-option>

                                        <mat-option [value]="country"
                                            *ngFor="let country of filteredNationality | async">
                                            {{country?.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.get('nationality_id').hasError('required')">
                                        {{'Nationality is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <div class="col-span-2 sm:col-span-1 flex flex-col px-1 ">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>{{'Occupation' | translate}}</mat-label>
                                        <input formControlName="occupation" matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-card shadow p-4">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Civil Info' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col">
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Civil ID' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input formControlName="civil_id" matInput>
                                    <mat-error *ngIf="form.get('civil_id').hasError('required')">
                                        {{'Civil ID is required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('civil_id').hasError('pattern')">
                                        {{'Invalid character, You can use only albhabets or numbers' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('civil_id').hasError('maxlength')">
                                        {{'Civil ID should be less than 15 characters' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <div class="col-span-2 sm:col-span-1 flex flex-col px-1">
                                    <mat-form-field>
                                        <mat-label>{{'Date of issue' | translate}}
                                            <span class="required-field">*</span>
                                        </mat-label>
                                        <input [max]="today" formControlName="issue_date" matInput
                                            [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="form.get('issue_date').hasError('required')">
                                            {{'Issue Date is required' | translate}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Re-opened -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <mat-form-field>
                                    <mat-label>{{'Expiry Date' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input [min]="today" formControlName="expiry_date" matInput
                                        [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="form.get('expiry_date').hasError('required')">
                                        {{'Expiry Date is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Needs triage -->
                        </div>
                        <!-- <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field appearance="fill">
                                    <mat-label>{{'Country of issue' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <mat-select formControlName="issued_country_id">
                                        <mat-option [value]="country?.id" *ngFor="let country of countryList">
                                            {{country?.name}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="form.get('issued_country_id').hasError('required')">
                                        {{'Country of issue is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="flex flex-col bg-card shadow p-4">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Address' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col">
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Street' | translate}}</mat-label>
                                    <input matInput formControlName="street">
                                </mat-form-field>
                            </div>
                            <!-- Won't fix -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Floor' | translate}}</mat-label>
                                    <input matInput formControlName="floor">
                                </mat-form-field>
                            </div>
                            <!-- Re-opened -->
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Building No' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input matInput formControlName="building_no">
                                    <mat-error *ngIf="form.get('building_no').hasError('required')">
                                        {{'Building Number is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Needs triage -->
                        </div>
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Appartment No' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input matInput formControlName="apartment_no">
                                    <mat-error *ngIf="form.get('apartment_no').hasError('required')">
                                        {{'Appartment Number is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Address' | translate}}</mat-label>
                                    <input formControlName="address" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'PACI' | translate}}</mat-label>
                                    <input formControlName="paci" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-card shadow p-4">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Bank Details' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col">
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Overdraft Limit' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input type="number" matInput formControlName="overdraft_limit">
                                    <mat-error *ngIf="form.get('overdraft_limit').hasError('required')">
                                        {{'Overdraft Limit Number is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="example-full-width">
                                    <mat-label>{{'Max. No of Installment' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input type="number" formControlName="installment_no_max" matInput>
                                    <mat-error *ngIf="form.get('installment_no_max').hasError('required')">
                                        {{'Maximum No of Installment is required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="form.get('installment_no_max').hasError('min')">
                                        {{'Maximum No of Installment must be greater than 2' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1">
                                <mat-form-field class="example-full-width" [ngClass]="isIBANError() ? 'error-feild':''">
                                    <mat-label>{{'IBAN Number' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input formControlName="iban_no" matInput>
                                    <mat-error *ngIf="form.get('iban_no').hasError('required')">
                                        {{'IBAN Number is required' | translate}}
                                    </mat-error>
                                    <mat-spinner *ngIf="isLoadingIban" [diameter]="20" matSuffix></mat-spinner>
                                    <mat-error *ngIf="form.get('iban_no').hasError('pattern')">
                                        {{'Invalid IBAN Number' | translate}}
                                    </mat-error>
                                </mat-form-field>
                                <small class="danger-text-color" style="position: relative;top: -14px;"
                                    *ngIf="isIBANError()">
                                    {{'IBAN Number is already exist,please re-enter another one' | translate}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto bg-card shadow p-4" *ngIf="afterViewInit">
                <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                    {{'Documents' | translate}}
                </div>
                <div class="flex flex-col flex-auto gap-1">
                    <app-documents [isDocumentValid]="isDocumentValid" [id]="id" [documents]="getDocument()">
                    </app-documents>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-initial p-4 justify-end">
            <button
                class="mat-focus-indicator  rounded-lg min-h-0 h-9 fuse-mat-button-large primary-bg-color mat-flat-button mat-button-base"
                mat-flat-button (click)="save()">
                {{'Submit' | translate}}
            </button>
        </div>
    </div>
</div>
