<div class="flex flex-col flex-auto gap-4">
    <div class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color">
        <mat-icon class="highlight-text-color" svgIcon="mat_outline:password"></mat-icon>
        <span>{{'Change Password' | translate}}</span> <span *ngIf="userName" class="hidden md:show">{{' for '}}</span> <span
            *ngIf="userName" class="hidden md:show">{{userName}}</span>
    </div>
    <hr class="border-b m-0 border-color">
    <form class="flex flex-col flex-auto gap-4" [formGroup]="form">
        <div class="flex flex-col flex-auto gap-4">
            <div class="flex flex-col flex-auto gap-1">
                <mat-form-field fxFlex="100">
                    <mat-label class="text-capitalized">
                        {{'Old Password'| translate}}
                        <span class="required-field">*</span>
                    </mat-label>
                    <input type="password" formControlName="old_password" matInput name="title" #OldpasswordField>
                    <button mat-icon-button type="button" (click)="OldpasswordField.type === 'password' ? OldpasswordField.type = 'text' : OldpasswordField.type = 'password'" matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="OldpasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="OldpasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('old_password').hasError('required')">
                        {{'Old Password is required' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <mat-label class="text-capitalized">
                        {{'New Password'| translate}}
                        <span class="required-field">*</span>
                    </mat-label>
                    <input type="password" formControlName="new_password" matInput name="title" #passwordField>
                    <button mat-icon-button type="button" (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'" matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('new_password').hasError('required')">
                        {{'New Password is required' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <mat-label class="text-capitalized">
                        {{'Confirm Password'| translate}}
                        <span class="required-field">*</span>
                    </mat-label>
                    <input type="password" formControlName="confirm_password" matInput name="title" #ConfirmpasswordField>
                    <button mat-icon-button type="button" (click)="ConfirmpasswordField.type === 'password' ? ConfirmpasswordField.type = 'text' : ConfirmpasswordField.type = 'password'" matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="ConfirmpasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="ConfirmpasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('confirm_password').hasError('required')">
                        {{'Confirm Password is required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="form.get('confirm_password').hasError('mustMatch')">
                        {{'Password and Confirm Password must be same' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="flex flex-row flex-auto gap-2 justify-end items-center">
            <button (click)="close()" mat-stroked-button color="warn">
                <mat-icon class="save-cancel-btn" matPrefix>close</mat-icon> {{'Close' | translate}}
            </button>
            <button (click)="send()" type="submit" mat-flat-button class="primary-bg-color">
                <mat-icon  class="save-cancel-btn mx-1" matPrefix>send</mat-icon>{{'Submit' | translate}}
            </button>
        </div>
    </form>
</div>
