:host {
    th {
        padding-top: 5px !important;
    }
     ::ng-deep .mat-form-field-flex {
        min-height: 0 !important;
        max-width: 150px !important;
        height: 30px;
    }
    input {
        color: black !important;
    }
}