<div class="flex flex-col flex-auto" [formGroup]="form">
    <div class="flex flex-col flex-initial bg-card shadow rounded-b-2xl ">
        <div class="text-2xl flex flex-row flex-initial gap-x-2 items-center font-bold tracking-tight highlight-text-color p-4 pl-6">
            <mat-icon class="cursor-pointer highlight-text-color" (click)="goBack()" [svgIcon]="translationService.getDirection() =='ltr' ? 'mat_outline:arrow_back' : 'mat_outline:arrow_forward' ">
            </mat-icon>
            <span>{{'Transfer' | translate}}</span>
        </div>
        <hr class="border-b m-0 border-color">
        <div class="flex sm:flex-row flex-col p-4 gap-x-4">
            <div class="flex flex-col gap-y-4" style="flex: 0 0 70%;">
                <div class="flex flex-col bg-card shadow p-4">
                    <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                        {{'Transfer Details' | translate}}
                    </div>
                    <hr class="border-b m-0 border-color">
                    <div class="flex flex-col">

                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 gap-1 flex flex-col px-1 ">
                                <div class="text-md  leading-none label-color">{{'Account Name' | translate}}</div>
                                <div class="text-lg  leading-none">{{form.get('account_holder_name').value}}</div>
                            </div>
                            <!-- Won't fix -->
                            <div class="col-span-3 sm:col-span-1 flex gap-1 flex-col px-1 ">
                                <div class="text-md  leading-none label-color">{{'Bank Name' | translate}}</div>
                                <div class="text-lg  leading-none">{{form.get('bank_name').value}}</div>
                            </div>
                            <!-- Re-opened -->
                            <div class="col-span-3 sm:col-span-1 flex gap-1 flex-col px-1">
                                <div class="text-md  leading-none label-color">{{'IBAN Number' | translate}}</div>
                                <div class="text-lg  leading-none">{{form.get('iban_no').value}}</div>
                            </div>
                            <!-- Needs triage -->
                        </div>
                        <div class="flex-auto grid grid-cols-3 gap-4 mt-6">
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="inputs">
                                    <mat-label>{{'Transaction ID' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input matInput formControlName="reference">
                                    <mat-error *ngIf="form.get('reference').hasError('required')">
                                        {{'Transaction ID is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-span-3 sm:col-span-1 flex flex-col px-1 ">
                                <mat-form-field class="inputs">
                                    <mat-label>{{'Transaction Date' | translate}}
                                        <span class="required-field">*</span>
                                    </mat-label>
                                    <input [max]="today" formControlName="transaction_date" matInput [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="form.get('transaction_date').hasError('required')">
                                        {{'Transaction Date is required' | translate}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Won't fix -->

                            <!-- Needs triage -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto bg-card shadow p-4">
                <div class="text-xl font-bold tracking-tight highlight-text-color py-4 ">
                    {{'Documents' | translate}}
                </div>
                <hr class="border-b m-0 border-color">
                <div class="flex flex-col">
                    <div class="text-md font-bold tracking-tight highlight-text-color py-2">
                        {{'Transfer Advice' | translate}}  <span class="required-field">*</span>
                    </div>
                    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)" *ngIf="files?.length <= 0">
                        <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
                    </div>
                    <div *ngIf="files?.length > 0">
                        <div class="files-list" *ngFor="let file of files;let i=index">
                            <div class="flex flex-row flex-initial gap-x-2 items-center">
                                <mat-icon class="file-icon" svgIcon="mat_outline:file_present"></mat-icon>
                                {{ file?.name }}
                            </div>
                            <button class="delete-file" (click)="deleteAttachment()">
                                <mat-icon style="color: red;" svgIcon="mat_outline:delete"></mat-icon>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="flex flex-row flex-initial p-4 justify-end">
            <button (click)="submit()" class="fuse-mat-button  btn-selectall primary-bg-color" mat-flat-button>
                {{'Update' | translate}}
            </button>
        </div>
    </div>
</div>
